<div class="container-fluid mt-2 mb-2">
  <%= render partial: 'messages/list/header' %>

  <% if @messages.empty? %>
    <div class="row m-2 p-2">
      There are currently no messages.
    </div>
  <% end %>

  <!-- Iterate through messages and display -->
  <% @messages.each do |msg| %>
    <%= render partial: 'messages/list/message', locals: { msg: msg } %>
  <% end %>
</div>
<div class="ml-2 mt-3 p-2 weighted rounded text-primary border border-primary">
  >> <%= I18n.t 'max_messages' %>&nbsp;<%= MessagesController::MAX_MESSAGES %>.
</div>