<div class="row" onclick="window.location='/messages/<%= msg['id'] %>'">
  <div class="col">
    <%= prettify_date msg['updated_at'] %>
  </div>
  <div class="col text-truncate">
    <%= msg['destination'] %>
  </div>
  <div class="col text-truncate">
    <%= msg['content'] %>
  </div>
  <div class="col">
    <%= msg['transmission']['status'] unless msg['transmission'].blank? %>
  </div>
</div>