<h1>Proposal Introduction</h1>

<div class="p-2 mt-2 mb-2">
  My intent was to showcase my ability to both create a front and back end for a messaging service.  In this case it consists of three parts:
  <ol>
  <li>Front end to display message data, send messages, search messages (based on phone number a.k.a destination)</li>
  <li>Back end to house all the data controls including database and external APIs (i.e. Amazon service)</li>
  <li>Tied with the back end is the unstable nature of the external API that delivery of messages is dependent on</li>
  <li>The idea, overall, was to have a Rails API as the backend serving JSON content to any number of clients using some sort of JS framework (intended as AngularJS). This would be a lightweight way to handle a lot of the frontend processing and allow for a microservice architecture to easily encapsulate functionality and scale across multiple servers.
  </ol>
</div>

<h1>Achievements</h1>
<div class="p-2 mt-2 mb-2">
  I feel I showcased a large portion -- hopefully all -- points made in the original request including flair ideas.  While I'm sure there are some caveats to the way I implemented certain aspects, I know the understanding is that this is with a more concise deadline with looser requirements than would happen in real-world scenarios.  That being said, however, I was very happy with certain aspects that I felt I went above and beyond (or at the very least, above!). Some of these items I'd like to highlight are:

  <ol>
    <li>Used the Rails API mode to create a lightweight rails application -- allowing to use the Rails framework we know and love with a lot less resource overhead.</li>
    <li>In order to increase performance on the UI and offload the asynchronous request to deliver messages, I used sidekiq/redis jobs. These jobs are also slightly more resilient in that they have a retry capacity to a certain degree until the external service was able to deliver the message -- or ultimately failed after the max retry attempt count.</li>
    <li>Extended error handling of error scenarios and alerting the user. I created custom JSON responses with context IDs that would uniquely mark not only the logs with the specific error but also injected an error log into an audit database table. In addition to the context IDs, I also indicated success of most -- if not all -- responses so that the client could handle appropriately. There may be instances in the UI where these responses were not utilitized to the fullest extent but they are where most applicable.</li>
    <li>Able to integrate Bootstrap UI to make a fairly quick and light apperance for the front-end. There are always aspects of Webpacker/bootstrap that seem to egg me on and I did have issues getting bootstrap JS from functioning properly to allow a more interactive experience using items like transitions, modals, etc.</li>
    <li>Was able to integrate a custom messenger-api gem fairly quickly. I was happy that the original classes/modules contained in the gem were in their respective projects -- front & back end -- and were already encapsulated enough so that making this migration was surprisingly simple!</li>
  </ol>
</div>


<h1>Areas of Improvement</h1>
<div class="p-2 mt-2 mb-2">
  In my achievements listing I noted caveats where necessary but a few areas I wanted to expound on -- if I had more time -- are some of the following not mentioned earlier:

  <ol>
    <li>I would have loved to expand the spec coverage -- primarily in the UI and added gem. When I initially began working on the project, I started on the backend and wrote most of my specs accordingly. When I got to the UI I was intending on using Angular vs another rails app but Angular 1 vs current is far different and I wanted to have something to show.</li>
    <li>Better interactive experience using Bootstrap JS or converting to AngularJS. As my proposal mentions, I wanted to have primarily a JS-client with a Rails API back end so that the rails portion could be maximized for performance and scaled quickly/easily.</li>
  </ol>
</div>

