<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h2>
        <%= I18n.t 'messages' unless @search %>
        <%= I18n.t 'messages_search_results' if @search %>
      </h2>
    </div>
    <div class="col-9 text-right">
      <%= link_to I18n.t('new_message'), new_message_path, { class: 'btn btn-primary'} %>
      <%= link_to I18n.t('search'), new_search_messages_path, { class: 'btn btn-secondary'} %>
    </div>
  </div>
  <% if flash[:notice] %>
    <div class="row notice p-2 mt-2 mb-2 mr-2 rounded">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <%= render partial: 'messages_list' %>
  </div>
</div>