<h5 class="ml-2">
  <%= I18n.t('titles.new_message') %>
</h5>

<% if flash[:error] %>
  <div class="row error p-2 m-2 rounded">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_with url: messages_path do |f| %>
  <div class="p-2">
    <div class="form-group">
      <%= f.label :phone_number, I18n.t('destination') %><br/>
      <%= f.text_field :destination %>
    </div>
    <div class="form-group">
      <%= f.label :message, I18n.t('content') %><br/>
      <%= f.text_area :content, size: '50x5' %>
    </div>
    <br/>
    <%= f.submit I18n.t('send') %>
  </div>
<% end %>