<h5 class="ml-2">
  <%= I18n.t('titles.search') %>
</h5>

<% if flash[:error] %>
  <div class="row error p-2 m-2 rounded">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="p-2">
  <%= I18n.t('info.search') %>
</div>
<%= form_with url: search_messages_path do |f| %>
  <div class="p-2">
    <div class="form-group">
      <%= f.label :phone_number, I18n.t('destination') %><br/>
      <%= f.text_field :destination %>
    </div>
    <br/>
    <%= f.submit I18n.t('submit') %>
  </div>
<% end %>