<div class="p-2">
  <div>
    <h5><%= I18n.t 'messages_list.headers.date_time' %></h5>
    <%= prettify_date @message['updated_at'] %>
  </div>
  <div class="mt-4">
    <h5><%= I18n.t 'messages_list.headers.phone_number' %></h5>
    <%= @message['destination'] %>
  </div>
  <div class="mt-4">
    <h5><%= I18n.t 'messages_list.headers.message' %></h5>
    <%= @message['content'] %>
  </div>
  <div class="mt-4 mb-4">
    <h5><%= I18n.t 'messages_list.headers.status' %></h5>
    <%= format_transmission_info @message['transmission'] %>
  </div>
  <div class="mt-6">
    <%= link_to I18n.t('back'), messages_path, { class: 'btn btn-primary'} %>
  </div>
</div>