<div class="row bg-dark text-light pt-2">
  <div class="col">
    <h5><%= I18n.t 'messages_list.headers.date_time' %></h5>
  </div>
  <div class="col">
    <h5><%= I18n.t 'messages_list.headers.phone_number' %></h5>
  </div>
  <div class="col">
    <h5><%= I18n.t 'messages_list.headers.message' %></h5>
  </div>
  <div class="col">
    <h5><%= I18n.t 'messages_list.headers.status' %></h5>
  </div>
</div>