@import "bootstrap/scss/bootstrap";
.error {
    font-weight: bold;
    background-color: red;
    color: white;
}

.notice {
    font-weight: bold;
    background-color: green;
    color: white;
}

div.hover:hover {
    background-color: #007bff;
    color: white;
}