<%= image_tag 'PSLogo_7e9e46.png', {class: 'img-fluid', style: 'max-width: 16em'} %>
<ul class="nav nav-tabs mt-2 ml-2">
    <li class="nav-item active">
        <%= link_to I18n.t('links.messages'), messages_path, {class: "nav-link #{active_link?(messages_path)}"} %>
    </li>
    <li class="nav-item">
        <%= link_to I18n.t('links.about'), about_messages_path, {class: "nav-link #{active_link?(about_messages_path)}"} %>
    </li>
</ul>
