<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('parent_square') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' unless Rails.env.production? %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('ps.png') %>
  </head>

  <body>
    <%= render partial: 'layouts/navigation' %>
    <div class="p-3">
      <%= yield %>
    </div>
  </body>
</html>
